In [47]:
import pandas as pd

In [48]:
df = pd.read_excel('CLASS IXB STUDENTS DATA.xlsx', sheet_name='IXB2')

In [49]:
df.head()

,Sr No,Admn No,Name,Father's Name,Mother's Name,Fathers Contact,Mothers Contact,Date of Birth,Nationality,Gender,Address,House,Transport,Route No,Email Address
0,1,4768.0,AAYUSH AGNIHOTRI,Puneet Agnihotri,Pooja Agnihotri,9716357650,9.318346e+09,14.10.2009,Indian,MALE,"Flat No 1901, Tower No 6, Saya Gold Avenue, In...",INTEGRITY,Pedestrian,NaN,aayushagnihotri4768@stteresaschool.in
1,2,3023.0,ADITYA BANSAL,DEEPAK . K. BANSAL,SHIVANI BANSAL,9810718057,NaN,18.04.2009,Indian,MALE,"801 , CHARMS SOLITAIRE",charity,BUS,11,adityabansal3023@stteresaschool.in
2,3,3110.0,ADITYA KAUSHIK,Shalendera Sharma,Neetu Sharma,8130568167,9.810371e+08,27.01.2010,Indian,MALE,"267,Phalad Gari,Sec. 16 A,Vasundhara,Gzb.",School Bus,HUMANITY,NaN,adityakaushik3110@stteresaschool.in
3,4,3435.0,ADITYA SINGH,Ranjeet Kumar Singh,Geeta Singh,8920203079,9.911389e+09,2009-03-16 00:00:00,Indian,MALE,"Plot no. 110, SF, Eklavya Vihar, sector 9, Vas...",School Van,Integrity,NaN,adityasingh3435@stteresaschool.in
4,5,3290.0,AKSHITA RAWAT,Manoj Singh Rawat,Preeti Rawat,7565009602,9.811124e+09,28.11.2009,Indian,FEMALE,G 1 plot no 267 Nitikhand 1 Indirapuram Ghaziabad,HARMONY,Pedestrian,NaN,akshitarawat3290@stteresaschool.in

In [50]:
df.columns

Index(['Sr No', 'Admn No', 'Name', 'Father's Name', 'Mother's Name',
       'Fathers Contact', 'Mothers Contact', 'Date of Birth', 'Nationality',
       'Gender', 'Address', 'House', 'Transport', 'Route No', 'Email Address'],
      dtype='object')

In [51]:
df.drop('Email Address', axis=1, inplace=True)
df.drop('Nationality', axis=1, inplace=True)
df.drop('Sr No', axis=1, inplace=True)
df.fillna("", inplace=True)

In [52]:
df = df.rename(columns={'Admn No': 'dummy'})
df = df.rename(columns={'Name': 'Admn No'})
df = df.rename(columns={'dummy': 'Name'})
df['Name'], df['Admn No'] = df['Admn No'], df['Name']

In [53]:
df.head()

,Name,Admn No,Father's Name,Mother's Name,Fathers Contact,Mothers Contact,Date of Birth,Gender,Address,House,Transport,Route No
0,AAYUSH AGNIHOTRI,4768.0,Puneet Agnihotri,Pooja Agnihotri,9716357650,9318346485.0,14.10.2009,MALE,"Flat No 1901, Tower No 6, Saya Gold Avenue, In...",INTEGRITY,Pedestrian,
1,ADITYA BANSAL,3023.0,DEEPAK . K. BANSAL,SHIVANI BANSAL,9810718057,,18.04.2009,MALE,"801 , CHARMS SOLITAIRE",charity,BUS,11
2,ADITYA KAUSHIK,3110.0,Shalendera Sharma,Neetu Sharma,8130568167,981037109.0,27.01.2010,MALE,"267,Phalad Gari,Sec. 16 A,Vasundhara,Gzb.",School Bus,HUMANITY,
3,ADITYA SINGH,3435.0,Ranjeet Kumar Singh,Geeta Singh,8920203079,9911388843.0,2009-03-16 00:00:00,MALE,"Plot no. 110, SF, Eklavya Vihar, sector 9, Vas...",School Van,Integrity,
4,AKSHITA RAWAT,3290.0,Manoj Singh Rawat,Preeti Rawat,7565009602,9811123700.0,28.11.2009,FEMALE,G 1 plot no 267 Nitikhand 1 Indirapuram Ghaziabad,HARMONY,Pedestrian,

In [54]:
from docx import Document

In [61]:
def tableMaker(doc: Document(), name: str):
    table = doc.add_table(rows=7, cols=7, style='Table Grid')
    cells = table.rows[0].cells
    cells[0].text = 'Exam'
    cells[1].text = 'Hindi'
    cells[2].text = 'English'
    cells[3].text = 'Maths'
    cells[4].text = 'Science'
    cells[5].text = 'Social Science'
    cells[6].text = 'IT'

    table.rows[1].cells[0].text = 'UT1'
    table.rows[2].cells[0].text = 'UT2'
    table.rows[3].cells[0].text = 'HYE'
    table.rows[4].cells[0].text = 'UT3'
    table.rows[5].cells[0].text = 'UT4'
    table.rows[6].cells[0].text = 'AE'

    doc.add_page_break()

In [62]:
doc = Document()

for index, row in df.iterrows():

    # Add a new paragraph to the Word document for each column in the row
    for column in df.columns:
        value = row[column]
        input = f"{column} - {value}"
        doc.add_paragraph(str(input))

    name = str(row[df.columns[0]]) + '.docx'

    tableMaker(doc=doc, name=name)


doc.save('ALL_NAMES.docx')